<md-card>
  <button md-button routerLink="Green" class="green-button">
    <md-icon>chat</md-icon>  
    Green Room
  </button>
</md-card>

<md-card>
  <button md-button routerLink="Blue" class="blue-button">
    <md-icon>chat</md-icon>  
    Blue Room
  </button>
</md-card>

<md-card>
  <button md-button routerLink="Orange" class="orange-button">
    <md-icon>chat</md-icon>  
    Orange Room
  </button>
</md-card>

<md-card>
  <button md-button routerLink="Red" class="red-button">
    <md-icon>chat</md-icon>  
    Red Room
  </button>
</md-card>